<%= form_for(@picture) do |f|%>
  <% if @picture.errors.any? %>
    <div class"alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label1="Close"><span aria-hidden="true">&times;</span></button>
      <h2><%= @picture.errors.count%>件のエラーがあります</h2>
      <ul style="list-style:none">
        <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @picture.image? %>
    <% image_tag @picture.image.url %>
  <% end %><br>
  <%= f.label :image %><br>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>

  <% if @picture.persisted? && @picture.image? %>
  <label>
    <%= f.check_box :remove_image %>
    画像を削除
  </label>
  <% end %>

  <%= f.label :content%>
  <%= f.text_field :content %></br>

  <%= f.submit "投稿", class:"btn btn-success" %>
<% end %>
